<header id="header">
    <!--<span id="logo"></span>-->

    <div id="logo-group">
        <span id="logo"> <img src="/img/vero/veros-logo.png" alt="SmartAdmin"> </span>

        <!-- END AJAX-DROPDOWN -->
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hidden-xs">Already registered?</span> <a href="/login" class="btn btn-danger">Login</a> </span>

</header>