<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Explorer <span>&gt; transactions</span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
        <ul id="sparks" style="margin-right: 100px;">
            <li class="sparks-info">
                <h5> Available supply<span class="txt-color-blue"><i class="fa fa-code"></i><span id="availableSupply" style="float: right;">0 VEROS</span></span>
                </h5>
            </li>
            <li class="sparks-info">
                <h5>
                    Total supply
                    <span class="txt-color-greenDark">
                        <i class="fa fa-neuter"></i>&nbsp;<span id="totalSupply" style="float: right;">0 VEROS</span>
                    </span>
                </h5>
            </li>
        </ul>
    </div>
</div>
<div role="content">

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body">
        <input type="hidden" id="searchAddress" value="{{searchAddress}}"></input>
        <p>
            <label for="walletAddress">
                Address:
            </label>
            <code id="walletAddress"></code>
        </p>

        <p>
            <label for="verosBalance">
                VEROS Balance:
            </label>
            <code id="verosBalance"></code>
        </p>

        <p>
            <label for="ethBalance">
                ETH Balance:
            </label>
            <code id="ethBalance"></code>
        </p>

    </div>
    <!-- end widget content -->

</div>