<div role="content">

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body">
        <form class="smart-form">
            <h2>Change password</h2>
            <section>
                <label class="label">Enter current passord</label>
                <label class="input">
                    <input type="password" id="currentPassword"/>
                </label>
            </section>

            <section>
                <label class="label">New password</label>
                <label class="input">
                    <input type="password" id="newPassword"/>
                </label>
            </section>

            <section>
                <label class="label">Confirm password</label>
                <label class="input">
                    <input type="password" id="confirmNewPassword"/>
                </label>
            </section>

            <footer>
                <button type="button" id="changePasswordButton" class="btn btn-danger">
                    Change password
                </button>
            </footer>
        </form>
    </div>
</div>