<div role="content">

    <!-- widget edit box -->
    <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

    </div>
    <!-- end widget edit box -->

    <!-- widget content -->
    <div class="widget-body">

        <p>
            <label for="walletAddress">
                Address:
            </label>
            <code id="walletAddress"></code>
        </p>

        <p>
            <label for="verosBalance">
                VEROS Balance:
            </label>
            <code id="verosBalance"></code>
        </p>

        <p>
            <label for="ethBalance">
                ETH Balance:
            </label>
            <code id="ethBalance"></code>
        </p>

        <hr class="simple"/>
        <ul id="myTab1" class="nav nav-tabs bordered">
            <li class="active">
                <a href="#s1" data-toggle="tab">Send VEROS </a>
            </li>
            <li>
                <a href="#s2" data-toggle="tab">Send ETH</a>
            </li>
            <li>
                <a href="#s3" data-toggle="tab">VEROS Staking</a>
            </li>
        </ul>

        <div id="myTabContent1" class="tab-content padding-10">
            <div class="tab-pane fade in active" id="s1">
                <div class="widget-body">
                    <form class="smart-form">
                        <section>
                            <label class="label">Recipient address</label>
                            <label class="input">
                                <input type="text" id="sendVeroAddress" maxlength="66"/>
                            </label>
                        </section>

                        <section>
                            <label class="label">Value</label>
                            <label class="input">
                                <input type="number" id="sendVeroAmount" maxlength="10"/>
                            </label>
                        </section>
                        <footer>
                            <button type="button" id="sendVeroButton" class="btn btn-danger">
                                Send VEROS
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="s2">
                <div class="widget-body">
                    <form class="smart-form">
                        <section>
                            <label class="label">Recipient address</label>
                            <label class="input">
                                <input type="text" id="sendEthAddress" maxlength="66"/>
                            </label>
                        </section>

                        <section>
                            <label class="label">Value</label>
                            <label class="input">
                                <input type="number" id="sendEthAmount" maxlength="10"/>
                            </label>
                        </section>
                        <footer>
                            <button type="button" id="sendEthButton" class="btn btn-danger">
                                Send ETH
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="s3">
                <div class="widget-body">
                    <div class="row">
                        <div class="col col-md-8">
                            <form class="smart-form">
                                <section>
                                    <label class="label">Value</label>
                                    <label class="input">
                                        <input type="number" id="sendStakingAmount" maxlength="10"/>
                                    </label>
                                </section>
                                <div class="alert alert-info alert-block">
                                    <h4 class="alert-heading">Interest</h4>
                                    <span id="interestLabel">For this amount you will receive</span>
                                </div>
                                <footer>
                                    <button type="button" id="sendStakingButton" class="btn btn-danger">
                                        Send Staking
                                    </button>
                                </footer>
                            </form>


                        </div>
                        <div class="col col-md-4">
                            <div class="table-responsive">

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Amount</th>
                                            <th>Annual Interest</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>0-100.000 VEROS</td>
                                            <td>1%</td>
                                        </tr>

                                        <tr>
                                            <td>100.000-200.000 VEROS</td>
                                            <td>2%</td>
                                        </tr>

                                        <tr>
                                            <td>200.000-300.000 VEROS</td>
                                            <td>3%</td>
                                        </tr>

                                        <tr>
                                            <td>300.000-400.000 VEROS</td>
                                            <td>4%</td>
                                        </tr>

                                        <tr>
                                            <td>500.000-600.000 VEROS</td>
                                            <td>4%</td>
                                        </tr>

                                        <tr>
                                            <td>700.000-800.000 VEROS</td>
                                            <td>5%</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- end widget content -->

</div>